# Ignore Google OAuth credentials and tokens
token.json
credentials.json
client_secret_*.json

# Ignore environment variables file
.env

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
venv/
*.venv
congif.pyc